@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #ff014f;

  --color-slate-50: #f8f9fa;
  --color-slate-100: #f1f3f5;
  --color-slate-200: #e2e5e9;
  --color-slate-300: #ced4da;
  --color-slate-400: #adb5bd;

  --color-slate-500: #868e96;
  --color-slate-600: #495057;

  --color-slate-700: #424750;
  --color-slate-800: #34383f;
  --color-slate-900: #2a2e34;
  --color-slate-950: #212429;
}

:root {
  --brand-accent: #ff014f;
}

.dark {
  --brand-accent: #ff014f;
}

@media (max-width: 450px) {
  main {
    padding-bottom: 0;
  }
  #about {
    padding-top: 0;
  }
  .contactAboutMe {
    padding-block: calc(var(--spacing) * 4);
  }
}
